Package: go-carousel
Version: 1.0.0
Architecture: amd64
Depends: 
Section: utils
Priority: optional
Maintainer: Lord of Scripts <lordofscripts@users.noreply.github.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.6
Homepage: https:/github.com/lordofscripts/go-carousel
Description: Fun wallpaper carousel and manager for multiple graphical desktops
 Show your mood and improve your mood by periodically changing your 
 desktop wallpaper on Linux and Windows. You can use the command-line, via a 
 CRON job or use its own scheduling capabilities. Organize them in categories 
 and Carousels (collection of categories), as many as you want. 
